@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

body {
    font-family: "Poppins", sans-serif;
    background-color: rgb(132, 224, 11);
}

nav {
    background: #0082e6;
    height: 80px;
    width: 100%;
}

label.logo_navbar {
    color: white;
    font-size: 35px;
    line-height: 80px;
    padding: 0 100px;
    font-weight: bold;
}

nav ul {
    float: right;
    margin-right: 20px;
}

nav ul li {
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
}

nav ul li a {
    color: white;
    font-size: 17px;
    padding: 7px 13px;
    border-radius: 3px;
    text-transform: uppercase;
}

a.active,
a:hover {
    background: #1b9bff;
    transition: .5s;
}

.checkbtn {
    font-size: 30px;
    color: white;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}

#check {
    display: none;
}


.container {
    position: relative;
    display: flex;
    justify-content: center; /* Memposisikan konten secara horizontal ke tengah */
    align-items: center; /* Memposisikan konten secara vertikal ke tengah */
    padding-top: 80px; /* Memberikan ruang di atas konten agar tidak tumpang tindih dengan navbar */
}

.form-container {
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 500px;
    width: 100%;
}

.logo {
    display: block;
    margin: 0 auto 20px; /* Memposisikan logo di tengah secara horizontal */
    width: 100px; /* Sesuaikan lebar logo */
}

.form-container form {
    padding: 20px;
}

.form-container h3 {
    text-align: center;
}

.form-container input[type="text"],
.form-container input[type="date"],
.form-container textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
}

.form-container input[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #074fb5;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.form-container input[type="submit"]:hover {
    background-color: #053e8a;
}
